.container {
    max-width: 1200px;
}

nav p {
    font-size: 12px;
}
nav ul.nav li a {
    text-decoration: none;
    color: whitesmoke;
}
.bg-dark p, .bg-dark a {
    color: whitesmoke;
}
.fixed-top {
    box-shadow: 0 0 5px #cccccc;
}
/*.myNav .active {*/
    /*background-color: rgba(66, 134, 244, 0.3)*/
/*}*/

.filler {
    height: 110px;
    line-height: 105px;
}
.filler h2 {
    vertical-align: middle;
    display: inline-block;
}
.product {
    background: #fff;
    border-bottom: solid 1px #e6e6e6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 60px;
    overflow: hidden;
    text-align: center;
}
.product .image {
    overflow: hidden;
}
.product .image img {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
@media (max-width: 767px) {
    .product .image img.img-responsive {
        min-width: 100%;
    }
}
.product .text {
    padding: 10px;
}
.product .text h3 {
    font-size: 14px;
    font-weight: 700;
    height: 39.6px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}
.product .text h3 a {
    color: #555555;
}
.product .text h3 a:hover {
    text-decoration: none;
}
.product .text p.price {
    font-size: 18px;
}
.product .text p.price del {
    color: #999999;
}
.product .buttons {
    clear: both;
    position: absolute;
    display: none;
    bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: solid 1px transparent;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-align: center;
}
.product .buttons .btn {
    margin-bottom: 20px;
}
.product:hover {
    border-bottom: solid 1px #808080;
    top: 0;
}
.product:hover .buttons {
    clear: both;
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
}
.product:hover .image img {
    -webkit-transform: scale(1.02, 1.02);
    -ms-transform: scale(1.02, 1.02);
    -o-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02);
}
.navbar-nav li a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0 0 0 0;
}
.navbar-nav li a:hover {
    border-color: #eeeeee #eeeeee #38a7bb;
}
.navbar-nav .active a {
    border-color: #eeeeee #eeeeee #38a7bb;
}
.panel.sidebar-menu h3 {
    padding: 5px 0;
    margin: 0;
}
.panel.sidebar-menu {
    background: #fff;
    margin: 0 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.panel.sidebar-menu .panel-heading {
    text-transform: uppercase;
    margin-bottom: 10px;
    background: none;
    padding: 0;
    letter-spacing: 0.08em;
    border-bottom: none;
}
.panel.sidebar-menu .panel-heading h1,
.panel.sidebar-menu .panel-heading h2,
.panel.sidebar-menu .panel-heading h3,
.panel.sidebar-menu .panel-heading h4,
.panel.sidebar-menu .panel-heading h5 {
    display: inline-block;
    border-bottom: solid 5px #38a7bb;
    line-height: 1.1;
    margin-bottom: 0;
    padding-bottom: 10px;
}
.panel.sidebar-menu .panel-heading .btn.btn-danger {
    color: #fff;
    margin-top: 5px;
}
.panel.sidebar-menu .panel-body {
    padding: 0;
}
.panel.sidebar-menu .panel-body span.colour {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: solid 1px #555555;
    vertical-align: top;
    margin-top: 2px;
    margin-left: 5px;
}
.panel.sidebar-menu .panel-body span.colour.white {
    background: #fff;
}
.panel.sidebar-menu ul.nav.category-menu {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.08em;
}
.panel.sidebar-menu ul.nav.category-menu li a {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.panel.sidebar-menu ul.nav ul {
    list-style: none;
    padding-left: 0;
}
.panel.sidebar-menu ul.nav ul li {
    display: block;
}
.panel.sidebar-menu ul.nav ul li a {
    position: relative;
    font-family: "Roboto", Times, serif;
    font-weight: normal;
    text-transform: none !important;
    display: block;
    padding: 10px 15px;
    padding-left: 30px;
    font-size: 12px;
    color: #999999;
}



.panel {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}
.panel-heading {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    padding: 15px 15px;
}

.panel-primary .panel-title {
    font-weight: 300;
}
.panel-primary .panel-title a:hover {
    color: #fff;
    text-decoration: none;
}
.panel-body {
    padding: 0;
}
.panel-body ul li .active {
    background-color: #38a7bb;
    color: #eeeeee;
}
.panel-body ul li ul li .active {
    background-color: #eeeeee;
}

#footer {
    background: #555555;
    padding: 50px 0;
    color: #999999;
}

#footer h5 {
    color: #eeeeee;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
}

#copyright {
    background: #333;
    color: #ccc;
    padding: 50px 0;
    font-size: 12px;
    line-height: 28px;
}
#copyright p {
    margin: 0;
}
.footer-divs {
    border-bottom: solid 1px ghostwhite;
}

.social {
    width: 34px;
    height: 34px;
    opacity: .7;
}
.social:hover {
    opacity: 1;
}

/* PRODUCT DESCRIPTION */

.goToDescription {
    font-size: 12px;
    text-align: center;
    margin-bottom: 40px;
}
.goToDescription a {
    color: #999999;
    text-decoration: underline;
}

#productMain {
    margin-bottom: 30px;
}
#productMain .sizes {
    text-align: center;
}
#productMain .sizes h3 {
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-bottom: 40px;
}
#productMain .sizes a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #ccc;
    line-height: 40px;
    color: #555555;
    text-align: center;
    text-decoration: none;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}
#productMain .sizes a.active,
#productMain .sizes a:hover {
    background: #38a7bb;
    color: #fff;
}
#productMain .sizes input {
    display: none;
}
#productMain .price {
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
#thumbs a {
    display: block;
    border: solid 1px transparent;
}
#thumbs a.active {
    border-color: #38a7bb;
}
.box {
    background: #fff;
    margin: 0 0 30px;
    border: solid 1px #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 0;
    border-left: none;
    border-right: none;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}